body {
text-align: center;
margin-top: 20%;
/*background-image: linear-gradient(#265BBD, #2520B3, #531FA6, #74249C);*/
background-image: linear-gradient(#FFE8AE, white);
font-family: "buffo", sans-serif;
font-weight: 400;
font-style: normal;
text-shadow: 0 20px 5px rgba(0,0,0,0.3);
}

h1{
    font-size: 200;
}

h3{
    text-align: center;
}

.cherrywine{
    text-align: center;
    color: #800C0A;
   position: fixed;
   top: 50px;
   left: 0;
   right: 0;
   font-weight: 175;
   background-color: white;
   margin-left: 45%;
   margin-right: 45%;
   height: 50px;
}

.title{
    text-align: center;
    color: black;
   position: fixed;
   top: 100px;
   left: 0;
   right: 0;
   font-size: 72;
   font-weight: 175;
   background-color: white;
   margin-left: 45%;
   margin-right: 45%;
   height: 50px;


}

.pg1{
    font-size: 75pt;
    color: black;
    transition-duration: 3s;

}

.pg1:hover{
transform: scaleX(110%);
}

a {
    color: black;
    transition-duration: 1s;
    text-decoration: none;
}

a:hover{
color: #800C0A;
transform: scale(110%);
}

.pg2 {
    font-size: 75pt;
    color: black;
    transition-duration: 3s;
    transition-delay: 0;
    animation-name: dropDownSpin;
    animation-duration: 3s;
}

.pg2:hover{
    transform: translateY(110%);
}

.pg3 {
    font-size: 75pt;
    color: black;
}

.pg3drop{
    font-size: 75pt;
    color: black;
    animation-duration: 5s;
    animation-name: dropDown;
    
}

.pg4top{
    font-size: 75pt;
    color: black;
}

.pg4bottom{
    font-size: 75pt;
    color: black;
}


.pg4top span{
    display: inline-block;
    transition: transform 0.3s ease; 
}

.pg4bottom span{
    display: inline-block;
    transition: transform 0.3s ease; 
}

.pg4top span:hover {
    transform: translateY(-5px);
    transform: rotate(-15deg);
}

.pg4bottom span:hover {
    transform: translateY(5px);
    transform: rotate(15deg);
}

.lyrics {
    color: black;
    text-shadow: none;
}

footer {
    position: fixed;
   bottom: 50px;
   left: 0;
   right: 0;
   font-size: x-large;
   background-color: white;
   margin-left: 45%;
   margin-right: 45%;
   height: 50px;
}

@keyframes dropDownSpin{
0% {
    transform: translateY(-500px) rotateY(360deg); 
  }
100% {
    transform: translateY(0) rotateY(0); 
  }
}

@keyframes dropDown{
    from{
        transform: translateY(1000px); opacity: 0;
      }
    to{
        transform: translateY(0); opacity: 100;
      }
    }

